/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* General Styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #333;
    background-color: #ffffff;
    transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
    background-color: #000000;
    color: #e0e0e0;
}

/* Navigation Bar */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: initial;
    background: rgba(240, 240, 240, 0.9);
    backdrop-filter: blur(10px);
    z-index: 999;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.dark-mode nav {
    background: rgba(18, 18, 18, 0.9);
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* flex-grow: 1; */
}

.nav-links li {
    margin: 0 1em;
}

.nav-links li a {
    text-decoration: none;
    font-size: 1em;
    color: inherit;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #007BFF;
}

.dark-mode .nav-links li a:hover {
    color: #1E90FF;
}

/* Mode Toggle Button */
#mode-toggle {
    font-size: 1.5em;
    cursor: pointer;
    background: none;
    border: none;
    transition: color 0.3s;
    /* margin-left: 1em; */
}

body.dark-mode #mode-toggle {
    color: #f0f0f0;
}

/* Hamburger Menu (hidden on desktop) */
.hamburger {
    display: none;
}

/* Mobile Styles */
@media (max-width: 790px) {
    nav {
        justify-content: center; /* Center the elements in mobile view */
    }

    .nav-links {
        position: fixed;
        top: 100%;
        left: 0;
        height: 100vh; /* Full height for the menu */
        width: 100%; /* Full width for the menu */
        background-color: #ffffff;
        flex-direction: column; /* Stack links and button vertically */
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease;
        z-index: 998;
        display: none; /* Initially hidden */
    }

    body.dark-mode .nav-links {
        background-color: #000000;
    }

    .nav-links.open {
        display: flex; /* Display flex when the menu is opened */
    }

    .nav-links li {
        margin: 1em 0;
    }

    /* Ensure the mode toggle button is the last element and is centered */
    #mode-toggle {
        font-size: 1.5em;
        cursor: pointer;
        background: none;
        border: none;
        margin-top: 1.5em; /* Add some margin to separate it from the nav links */
    }

    /* Hamburger menu styles */
    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 999;
    }

    /* Style Hamburger Bars */
    .hamburger .bar {
        width: 30px;
        height: 3px;
        background-color: #333;
        margin: 6px;
        transition: 0.4s;
    }

    body.dark-mode .hamburger .bar {
        background-color: #e0e0e0;
    }
}

.menu-overlay {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255); /* Transparent black overlay */
    z-index: 997; /* Just below the nav-links */
    transition: opacity 0.3s ease;
}

.dark-mode .menu-overlay {
    background-color: rgb(0, 0, 0); /* Transparent black overlay */
}

.menu-overlay.open {
    display: block; /* Show the overlay when the menu is open */
}

/* Prevent Scrolling When Menu is Open */
body.menu-open {
    overflow: hidden;
}

/* Back to Top Button */
#back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #007BFF;
    border: none;
    border-radius: 50%;
    font-size: 2em;
    padding: 0.2em 0.3em;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    transition: opacity 0.5s, background-color 0.3s;
}

body.dark-mode #back-to-top {
    background-color: #1E90FF;
}

#back-to-top:hover {
    background-color: #0056b3;
}

#back-to-top.visible {
    opacity: 1;
    visibility: visible;
}

/* Header Section */
header {
    text-align: center;
    padding-top: 100px;
    /* padding-bottom: 60px; */
}

header img {
    max-width: 250px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff;
}

header h1 {
    font-size: 3em;
    margin: 0.5em 0;
    display: inline-block;
    position: relative;
}

header h1 span {
    display: inline-block;
    /* Ensure spaces are preserved */
    white-space: pre;
}


header p {
    font-size: 1.2em;
}

/* Social Media Buttons */
.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.social-media a {
    margin: 0 0.5em;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s;
}

#github-logo {
    mask-image: url('github-logo.png');
}

#linkedin-logo {
    mask-image: url('linkedin-logo.png');
}

.social-media a div.social-icon {
    mask-size: cover; /* Ensures the image fills the container */
    width: 32px; /* Set the width of the icon */
    height: 32px; /* Set the height of the icon */
    display: inline-block; /* Ensures the icon is treated as an inline element */
    background-color: #000;
}

.dark-mode .social-media a div.social-icon {
    background-color: #e0e0e0;
}

.social-media a:hover {
    transform: scale(1.1);
}

.word {
    display: inline-block;
    margin: 0 5px; /* small gap between words */
}

/* Section Styles */
section {
    padding: 1em 10%;
    opacity: 0;
    transform: translateY(50px);
}

section.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease;
}

section h2 {
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: 700;
}

section h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    font-weight: 700;
}

section p, section ul {
    font-size: 1em;
    line-height: 1.6;
    font-weight: 500;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    margin-bottom: 1em;
    position: relative;
    padding-left: 1.5em;
}

section ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #007BFF;
    font-size: 1.2em;
}

.skills-list li {
    margin-bottom: 1em;
}

/* Experience Section */
.experience-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3em;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease, transform 1s ease;
}

.experience-item.visible {
    opacity: 1;
    transform: translateX(0);
}

.experience-item img {
    width: 80px;
    height: 80px;
    margin-right: 1.5em;
    object-fit: contain;
}

.experience-details {
    flex: 1;
}

#experience .experience-item:last-of-type {
    margin-bottom: 0;
}

/* Education Section */
.education-item {
    display: flex;
    align-items: flex-start;
    /* margin-bottom: 3em; */
}

.education-item img {
    width: 80px;
    height: 80px;
    margin-right: 1.5em;
    object-fit: contain;
}

.education-details {
    flex: 1;
}

/* Contact Form */
#contact-form {
    max-width: 600px;
    margin: 0 auto;
}

#contact-form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: 700;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 0.75em;
    margin-bottom: 1em;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1em;
}

body.dark-mode #contact-form input,
body.dark-mode #contact-form textarea {
    background-color: #2c2c2c;
    color: #e0e0e0;
    border-color: #555;
}

#contact-form button {
    display: block;
    width: 100%;
    padding: 0.75em;
    background: #007BFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s;
}

#contact-form button:hover {
    background: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
    .experience-item, .education-item {
        flex-direction: column;
        align-items: center;
    }

    .experience-item img, .education-item img {
        margin-bottom: 1em;
    }

    .word {
        display: block;
        margin: 0.25em 0; /* some vertical gap between lines */
        text-align: center; /* optional, to center each line */
    }

    section {
        padding: 0.5em 5%; /* less padding for smaller screens */
    }
}
